:root {
  --primary: #913535;
  --bg: #283148
}

body {
  font-family: 'Century Gothic';
  background-color: var(--bg);
  margin: 0;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  user-select: none;
}

/* Title bar */
.title-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-app-region: drag;
	height: 32px;
	background-color: transparent;
	padding: 0;
	margin: 0px;
	z-index: 1001;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(3, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	font-family: "Segoe MDL2 Assets";
	font-size: 10px;
  -webkit-app-region: no-drag;
  color: #aaa;
}

#window-controls .win-button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
	cursor: default;
	opacity: 0.8;
	transition: 0.3s;
}

#window-controls .win-button:hover {
  background: rgba(237, 237, 237, 0.1);
  color: #fff;
	opacity: 1;
}

#window-controls #min-button {
	grid-column: 1;
}

#window-controls #max-button,
#window-controls #restore-button {
	grid-column: 2;
}

#window-controls #close-button {
	grid-column: 3;
}

#window-controls #close-button:hover {
	background: #E81123;
	color: #fff;
}

#window-controls #restore-button {
	display: none;
}

#mac-controls {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 50px;
	height: 12px;
	display: grid;
	grid-template-columns: repeat(3, 12px);
	grid-gap: 7px;
}

.mac-button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #333;
	cursor: pointer;
	-webkit-app-region: no-drag;
	transition: 0.3s;
}

.mac-button:hover {
	filter: brightness(1.3);
}

.mac-button.mac-button--close { background-color: #fc615d }
.mac-button.mac-button--minimalize { background-color: #fdbc40 }
.mac-button.mac-button--fullsize { background-color: #34c749 }

.mac-button.disabled {
  background-color: grey;
}

.mac-button.disabled:hover {
  filter: none;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 12px 0;
}

input {
  width: 80%;
  border-radius: 24px;
  padding: 12px;
  background-color: #fff;
  border: 0;
  outline: none;
}

.btn {
  all: unset;
  padding: 8px 14px;
  font-size: 18px;
  background-color: var(--primary);
  border-radius: 24px;
  cursor: pointer;
  margin: 12px 0;
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(1.2)
}

.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin: 0 8px;
  margin-bottom: 12px;
}

.preview--hidden {
  display: none;
}

.preview__title {
  margin-bottom: 6px;
}

.preview img {
  width: 100%;
}

.preview__meta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 12px;
}

.error {
  color: firebrick;
  margin-bottom: 8px;
}

.error:empty {
 margin-bottom: 0;   
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.progress-bar__bar {
  height: 8px;
  background-color: var(--primary);
  width: 0%;
}